.card{
    width: 40rem; 
    margin: auto; 
    width: 50%; 
    padding: 10px;
}

.img {
    width: 600px;
    height: 600px;
}

.btn {
    background-color: green;
    color: white;
}

.fas.fa-cart-plus.fa-lg{
    color:white;
}
